.text-light{
    color: white;
}

.text-blue{
    color: rgba(0, 60, 109, 0.699);
}

.text-bluetwi{
    color: rgba(80, 176, 255, 0.699);
}

.text-pink{
    color: rgba(255, 55, 205, 0.699);
}